@page
@model AuthNModel
@{
    ViewData["Title"] = @User.Identity?.Name ?? "Log in";
}
<h1>@ViewData["Title"]</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
<form method="post">
    <button type="submit" asp-page-handler="logout">Log out</button>
</form>
}
else
{
<p>Type your user name to log in.</p>
<form method="post">
    <input type="text" name="userName" />
    <button type="submit">Log in</button>
</form>
}
